{#
/**
 * @file
 * Theme implementation to Text Separator formatter.
 *
 * This displayed Text Separator.
 *
 * Available variables:
 * - text: Text which user entered in the text field.
 * - class: This is wrapper div class which we will use in Text Separator.
 *
 */
#}

<div class="{{ class }}">
  {{ text }}
</div>
